@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F8F9FA;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 12px 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.logo img {
    height: 35px;
}

.brand-name {
    font-size: 22px;
    font-weight: bold;
    color: #2D3748;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 1px;
    border: 2px solid #0D6EFD;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 4vw;
    max-width: 600px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    width: 30vw;
}

.search-bar select {
    border-left: 2px solid #0D6EFD;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-right: 2px;
    outline: none;
    padding: 8px;
    font-size: 14px;
    color: #555;
    
}




.search-bar button {
    background-color: #0D6EFD;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Navigation Icons */
.nav-icons {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.nav-icons li i {
    font-size: 20px;
    color: #8B96A5;
    margin-bottom: 2px;
    transition: 0.2s ease-in-out;
}

.nav-icons li:hover i {
    color: #0D6EFD;
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .search-bar input {
        width: 100%;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-icons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
